In [ ]:
print("hello world") 

#print above stmt 5 times

# loops
# while
# for

In [25]:
#for loop

fruits = ["apple", "banana", "tomato", "strawberry"]
for fruit in fruits:
    print(fruit)

banana
apple
strawberry
tomato

In [2]:
#print even numbers in between 1 to 10

numbersTill10 = (1, 2, 3, 4, 5, 6, 7,8,9, 10)
for value in numbersTill10:
    if(value % 2 == 0):
        print(value)

2
4
6
8
10

In [27]:
vegetables = ["carrot", "beetroot", "califlower", "cabage", "cucumber"]
arrLength = len(vegetables)
for index in range(arrLength):
    print(vegetables[index])

carrot
beetroot
califlower
cabage
cucumber

In [13]:
# range method
# range(n) -> 0 to n-1
# range(a, n) -> a to n-1
# range(a, n, 2) -> a to n-1, increase 2 

seq_range = range(2, 20, 2)

lis = list(seq_range)
print(lis)

tup = tuple(seq_range)
print(tup)

set_items = set(seq_range)
print(set_items)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
(2, 4, 6, 8, 10, 12, 14, 16, 18)
{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [1]:
for even in range(2, 20, 2):
    print(even)
for odd in range(1,20,2):
    print("odd no's",odd)

2
4
6
8
10
12
14
16
18
odd no's 1
odd no's 3
odd no's 5
odd no's 7
odd no's 9
odd no's 11
odd no's 13
odd no's 15
odd no's 17
odd no's 19

In [ ]:
i=[1,2,3,4,5,6,"apple",10,11]
for x in i:
    print(x)
    if x=="apple":
     break
print("hiii")

In [2]:
#write square program by acess variable in tuple
#create a tuple
#acess variable and perform square operation and print that varibles
num=(5,6,7,8,9,10)
square=[]
for no in num:
    s2=no**2
    square.append(s2)
    print("squareno's",square)
print("square of the list",square)

squareno's [25]
25
squareno's [25, 36]
36
squareno's [25, 36, 49]
49
squareno's [25, 36, 49, 64]
64
squareno's [25, 36, 49, 64, 81]
81
squareno's [25, 36, 49, 64, 81, 100]
square of the list [25, 36, 49, 64, 81, 100]

In [2]:
#print all even numbers in a given range x, y
Range1=int(input("enter value of x"))
print(Range1)
Range2=int(input("enter value of y"))
print(Range2)
for z in range(Range1,Range2):
    if(z%2==0):
     print("even no",z)

10
30
even no 10
even no 12
even no 14
even no 16
even no 18
even no 20
even no 22
even no 24
even no 26
even no 28

In [5]:
#print alternate character in a given string.
string="Maheswari"
for c in range(0,len(string),2):
    print(string[c])

M
h
s
a
i

In [81]:
#Print dictonary item using for loop

dict={1:'apple',2:'ball',3:'cat'}
for d in dict:
    
      print(d,dict[d])

1 apple
2 ball
3 cat

In [ ]:
# Python program to show how if-else statements work  
string="paython loop"
for s in string:
    if s=='o':
        print("if block")
    else:
        print(s)

In [3]:
# Python program to show how to use else statement with for loop 
#tup=range(1,11)
tup=(1,2,3,4,5,6,7,8,9,10,11)
for n in tup:
    if n%2!=0:
        print(n)
else:
    print("odd no's")

1
3
5
7
9
11
odd no's

In [21]:
# range function
print(range(15))
print(list(range(15)))
print(range(1,15))
print(tuple(range(1,15)))
print(range(1,20,2))
print(list(range(1,20,2)))

range(0, 15)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
range(1, 15)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)
range(1, 20, 2)
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
# Python program to iterate over a sequence with the help of indexing  
tuple=("mahi","Babi","siva","appple","Python","Ball")
for s in range(2*len(tuple)):  #by uusing indx method 
    if s<=5:                    # len multiply with 2 to iterate loop twice
        print(tuple[s].upper())
    
    else:
        print(tuple[s-len(tuple)].lower())

MAHI
BABI
SIVA
APPPLE
PYTHON
BALL
mahi
babi
siva
appple
python
ball

In [1]:
# Code to find the sum of squares of each element of the list using for loop 
Num=[1,2,3]
sum=0
for n in Num:
    sum=sum+n**2
print(sum)

14

In [12]:
#add elements to end of the list by using index and and range fun:
list=[1,2,3,4,5,6,]
for i in range(len(list)): #len fun returns length of the string
    print(i)
    list.append(list[i]+2)
print(list)

0
1
2
3
4
5
[1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 8]

In [13]:
# Code to find the sum of squares of each element of the list using for loop  and range:
#make list and perform arthematical operation than print sum:
num_list=[1,2,3]
sum=0
for i in range(len(num_list)):
    sum=sum+num_list[i]**2
print(sum)

14

In [24]:
# code to print marks of a student from the record, read student name as input 
student_Name=input("enter student name:")
student_Records={"Mahi":200,"Babi":250,"Ram":300}
for name in student_Records:
    if str(name)==student_Name:
        print(student_Records[name])
        break
else:
   print(student_Name+ " is","The Student name not found in our records")

ram is  The Student name not found in our records

In [13]:
#check a variale in the list
user_entry=input("enter the value")
list=[1,2,3,4,5,6,7,"hi"]
for n in list:
     if str(n)==user_entry:
        print("user enter data is in the string",n)
        break
else:
     print("invalid input")

invalid input

In [15]:
#read a number and check if it is prime or not.
Num=int(input("Enter no:"))
for n in range(2,Num):        
    if Num%n==0:
        print("not prime no")
        break
else:
    print("prime no")

prime no

In [4]:
#Check negative value in range() #range fun automatically increase +1, when we we are not assigned any step value
print(list(range(50,4,-2)))
print(list(range(-10,-20, -5)))
print(list(range(-2,10)))
print(list(range(-2,-10,-1)))

[50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6]
[-10, -15]
[-2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-2, -3, -4, -5, -6, -7, -8, -9]

In [6]:

#read, x, y and print number starting from x - 2 till y/5

# x=10
# y=20

# print(x-2)

list=[]
X=int(input("enter x value"))-2
Y=int(input("enter y value"))//5
print("X and Y values are",X,Y)
step=1
if X>Y:
    step=-1
for seq in range(X,Y,step):
    list.append(seq)
print(list)

X and Y values are 98 100
[98, 99]

In [7]:
#print a prime no 2nd method
a=10
c=0
for x in range(1,a+1):
    if a%x==0:
        c+=1
if c>2 or c<2:
    print("Not a prime")
elif(c==2):
    print("prime")

Not a prime

In [8]:
#print 1st n even no's reading n as input:
no_even=int(input("enter the no"))
c=0
for n in range(1,(no_even+1)*2):
    if n%2==0:
       c+=1
       print(n)
print("count of the no's",c)

2
4
6
8
10
12
14
16
18
20
count of the no's 10

In [10]:
#palindrome example

string="101"
length=len(string)
new=""
print(length)
for n in range(length-1,-1,-1):
    new=new+string[n]
print("string rveverse:",new)
if string==new:
    print("palindrome")
else:
    print("Not a palindrome")

3
string rveverse: 101
palindrome

In [3]:
#Nested for loop

n = 5
for tableNumber in range(1, n+1):
    for multiplier in range(1, 11):
        # print(tableNumber,"x", multiplier,"=", tableNumber*multiplier)
        print(f"{tableNumber} x {multiplier} = {tableNumber * multiplier}")
    print("\n")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10


2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [1]:
#read a string and find the occurence of each letter and print it.
inputString = "Maheswari"
for checkLetter in inputString:
    count = 0
    for letter in inputString:
        if(checkLetter == letter):
            count = count + 1
            
    print(f"{checkLetter} count is {count}")

M count is 1
a count is 2
h count is 1
e count is 1
s count is 1
w count is 1
a count is 2
r count is 1
i count is 2
i count is 2

In [31]:
# print star pattern in n rows and m columns
# rows, columns 5, 3
rows = 5
columns= 3
for row in range(rows):
    for col in range(columns):
        print("*",end=" ")
    print("")

* * *
* * *
* * *
* * *
* * *

In [42]:

# create a m x n matrix and print in the matrix form
list
m=int(input("enter no of rows"))
n=int(input("enter no of col"))
for col in range(m):
    for row in range(n):
        print("*",end=" ")
    print("")

* * *
* * *
* * *

In [35]:
# create a 3x3 identity matrix and print in the matrix form

matrix=[[1,0,0],
        [0,1,0],
        [0,0,1]
        ]
i=j=3

for row in range(0,j):
      for col in range(0,i):
            print(matrix[row][col], end=" ")
      print("")

1 0 0
0 1 0
0 0 1

In [19]:
#create matrix
Matrix=[]
new_matrix=[]
row=int(input("enter the row value")) #3
col=int(input("enter the col value")) #2
for n in range(0,row):
    Matrix.append([])
    for m in range(0, col):
        Matrix[n].append(n+m)
print(Matrix)
for i in range(row):
    for j in range(col):
        print(Matrix[i][j],end=" ")
    print("")

[[0, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [2, 3, 4, 5, 6, 7], [3, 4, 5, 6, 7, 8]]
0 1 2 3 4 5
1 2 3 4 5 6
2 3 4 5 6 7
3 4 5 6 7 8

In [17]:
list1=[1,2,3]
list2=[3,4,5]
con=list1+list2
print(con)
list1.append(list2)
print(list1)

[1, 2, 3, 3, 4, 5]
[1, 2, 3, [3, 4, 5]]

In [2]:
#find a largest no i n the list
list_num=[1,-2,-3,20,10,-5,7,9,0,40]

def fun():
    b=list_num[0]
    for i in list_num:
        if i>b:
            b=i
    print("large",b)

value = fun()
index = list_num.index(value)
print(index)
del(list_num[index])
print(list_num)

large 40
9
[1, -2, -3, 20, 10, -5, 7, 9, 0]
large 20

20

70 50

80 -90

In [ ]:
L=[23,67,89,5,4]
n=input("Enter the no: ")
for i in range(0,len(L)):